.BannerMessage {
  position: absolute;
  width: 100%;
  padding: 4px 0px 4px 0px;
  text-align: center;
  opacity: 0;
  font-family: 'Times New Roman', Georgia, Serif;
  font-size: 18px;
  background-color: #eeeeee;

  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}


@-webkit-keyframes fadeinout {
  20% { opacity: 1; }
}

@keyframes fadeinout {
  20% { opacity: 1; }
}
